@import "tailwindcss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  background-color: #f3f4f6;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}

.bg-gov-blue {
  background-color: #0066eb;
}

header {
  background-color: #0066eb;
  color: #ffffff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}